@import './variables.scss';


@mixin StatusGreen {
    background-color: $invoice-light-green;
    padding: 7px 10px;
   
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    color: $invoice-green;
    text-decoration: none
}

@mixin statusOrange {
    background-color: $invoice-light-org;
    padding: 7px 15px;
  
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    color: $invoice-org;
    text-decoration: none;
}

@mixin delete-btn {
    border: none;
    padding: 15px;
    background-color: $invoice-red;
    border-radius: 50px;
    color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.356);
    cursor: pointer;
}

@mixin cancel-btn {
    border: none;
    padding: 15px;
    background-color: $invoice-lightgrey;
    border-radius: 50px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.356);
    cursor: pointer;
}