
//Layout space
$panel-space: 1;
$panel-space-two: 5;

//colors-dark
$invoice-blue: #7c5dfa;
$invoice-navy-blue: #1e2139;
$invoice-light-navy-blue: #252945;
$invoice-navy-blue: #1e2139;
$invoice-black: #0c0e16;
$invoice-red: red;
$invoice-light-green: #33d6a025;
$invoice-green: #06cc37;
$invoice-light-org: #ff910034;
$invoice-org: #FF8F00;



//colors-light
$invoice-light-blue: #9277ff;
$invoice-sky-blue: #dfe3fa;
$invoice-light-red: #ec5757;
$invoice-lightgrey: #F9FAFE

