@import "../../animation/slide-in.scss";
@import "../../typography/variables.scss";
.form-container {
  background-color: white;
  padding: 0px 90px;
  color: black;
  width: 75%;
  position: absolute;
  top: -0em;
  left: -16em;
  z-index: 0;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  animation: slideIn 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.521);
  max-height: 46.9em;
  overflow-y: scroll;

  &__title {
    font-size: 2rem;
    border-bottom: solid 5px $invoice-blue;
    margin-left: 12.5em;
    text-align: left;
    margin-bottom: 0.5em;
    padding: 0.2em 0;
  }

  &__new-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 67%;
    margin-left: auto;
    text-align: left;

    &--bill-from-form {
      width: 100%;

      &__title {
        color: $invoice-blue;
      }

      &__address {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1em;
        margin-top: 1em;

        &--input {
          padding: 10px 10px;
          border: solid 2px rgba(0, 0, 0, 0.274);
          border-radius: 5px;
          color: black;
          font-size: 1em;
          margin-top: 0.4em;
        }
      }

      &__address-two {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;


        &--inputs {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &__input {
            padding: 10px 10px;
            border: solid 2px rgba(0, 0, 0, 0.274);
            border-radius: 5px;
            color: black;
            font-size: 1em;
            margin-top: 0.4em;
            width: 98%;
          }
        }
      }
    }

    &--bill-to {
      display: flex;
      flex-direction: column;
      margin-top: 1em;

      &__title {
        color: $invoice-blue;
      }

      &--inputs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1em;

        &__input {
          padding: 10px 10px;
          border: solid 2px rgba(0, 0, 0, 0.274);
          border-radius: 5px;
          color: black;
          font-size: 1em;
          margin-top: 0.4em;
          width: 100%;
        }
      }

      &--inputs-two-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;

        &--inputs {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &__input {
            padding: 10px 10px;
            border: solid 2px rgba(0, 0, 0, 0.274);
            border-radius: 5px;
            color: black;
            font-size: 1em;
            margin-top: 0.4em;
            width: 100%;
          }
        }
      }
    }

    &--services {
      &__date-and-payment {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1em;

        &--date {
          display: flex;
          flex-direction: column;

          &__input {
            padding: 10px 10px;
            border: solid 2px rgba(0, 0, 0, 0.274);
            border-radius: 5px;
            color: black;
            font-size: 1em;
            margin-top: 0.4em;
            width: 100%;
          }
        }

        &--payments {
          display: flex;
          flex-direction: column;

          &__input {
            padding: 10px 10px;
            border: solid 2px rgba(0, 0, 0, 0.274);
            border-radius: 5px;
            color: black;
            font-size: 1em;
            margin-top: 0.4em;
            width: 100%;
          }
        }
      }

      &__project-desc {
        margin-top: 1em;
        &--name {
          display: flex;
          flex-direction: column;

          &__input {
            padding: 10px 10px;
            border: solid 2px rgba(0, 0, 0, 0.274);
            border-radius: 5px;
            color: black;
            font-size: 1em;
            margin-top: 0.4em;
            width: 100%;
          }
        }
      }
    }
  }

  &__itemsList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1em;

    &--title {
      font-size: 1.5rem;
      color: $invoice-blue;
    }

    &--input-boxes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 1em;

      &__itemNAme {
        display: flex;
        flex-direction: column;
        text-align: center;

        &--input {
          margin: 0.5em auto;
          width: 55%;
          padding: 10px 10px;
          border: solid 2px rgba(0, 0, 0, 0.274);
          border-radius: 5px;
          color: black;
          font-size: 1em;
        }
      }

      &__itemInput {
        margin-top: 0.5em;
        padding: 10px 10px;
        border: solid 2px rgba(0, 0, 0, 0.274);
        border-radius: 5px;
        color: black;
        font-size: 1em;
      }

      &__itemInput-two {
        margin-top: 0.5em;
        border: solid 2px;
      }
    }
  }

  &__btn-container {
    color: white;
    margin-top: 1.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    padding: 20px;

    &--discard-btn {
      background-color: #f9fafe;
      padding: 10px;
      border: none;
      border-radius: 20px;
      width: 20%;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.356);
      cursor: pointer;
    }

    &--sendbtns {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__draft {
        background-color: #373b53;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 20px;
        width: 40%;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.356);
        cursor: pointer;

      }

      &__saveandsendbtn {
        background-color: $invoice-blue;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 20px;
        width: 40%;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.356);
        cursor: pointer;

      }
    }
  }
}
