.filter-btn-container {
    
display: flex;
flex-direction: column;
width: 100%;
text-align: center;
margin-bottom: .5em;
padding: 5px;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.356);
border-radius: 5px;
border: none;

&:hover {
    background: lightgray;
    color: white;

}


&__text {
    text-align: center;
    margin: 0 auto;
}
}