@import '../../typography/variables.scss';
@import '../../typography/mixins.scss';
@media (max-width: 640px) {
    
.invoice-list-container {
    
    &__list {
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 30px;
        width: 60%;
        margin: 1em auto;
        background-color: white;
        border-radius: 10px 10px;
        cursor: pointer;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.356);

        &--textOrange {
            @include statusOrange;
            width: 15%;
        }

        &--textGreen {
           @include StatusGreen;
           width: 15%;

        }
    }
}
}